p { font-family: "Roboto"; margin: 0px; color: #212121; font-size: 15px; font-weight: 100; }

h4 { font-family: "Roboto"; margin: 0px; font-size: 20px; color: #212121; }

h5 { font-family: "Roboto"; margin: 0px; color: #212121; font-size: 15px; }

a { font-family: "Roboto"; }

.sidebar { width: 300px; background-color: #F4F7F7; overflow: hidden; padding-bottom: 10px; }

.plugin-body { text-align: center; color: #FFFFFF; text-transform: uppercase; padding: 30px; margin-top: 15px; font-size: 18px; font-weight: 600; }

.glyphs { text-align: center; }
.glyphs hr { border: none; height: 2px; background-color: #FFFFFF; margin: 0px; padding: 0px; width: 175px; margin: 0px auto; }
.glyphs .fas { padding: 20px; font-size: 30px; }
.glyphs a { color: #FFFFFF; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); transition: all 0.1s ease; }
.glyphs a :hover { transform: scale(1.2); text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3); transition: all 0.1s ease; }

.plugin-photo { background-color: #FFFFFF; width: 250px; height: 141px; margin: 0px auto; padding: 10px; margin-top: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); border-radius: 2px; }
.plugin-photo p { color: #607D8B; padding: 25px; }

.plugin-bot { padding: 2px 10px; margin-left: 15px; border-radius: 50px; background-color: #FFFFFF; text-align: center; margin-top: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }
.plugin-bot p { color: #7F7F7F; font-weight: 400; font-size: 12px; display: inline-block; vertical-align: middle; }

.text { width: 150px; display: inline-block; }

.rec { float: right; margin-right: 15px; width: 50px; display: inline-block; }

.rec-circle { margin-left: 5px; display: inline-block; border-radius: 10px; width: 15px; height: 15px; background-color: red; vertical-align: middle; }

.rec-stop { margin-left: 0px; border-radius: 0px !important; background-color: #7F7F7F; vertical-align: middle; }

.shoot { width: 50px; margin: 10px auto 0px; color: #03A9F4; font-size: 20px; }

.menu-container { width: 200px; margin: 25px auto; }
.menu-container :first-child { margin-top: 5px; }

.menu-row { background-color: #03A9F4; border-radius: 20px; margin: 10px; color: #FFFFFF; font-size: 14px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }
.menu-row .fas { margin: 0px; padding: 0px; float: left; margin: 5px 13px 0px; }
.menu-row p { vertical-align: middle; padding: 0px; margin: 0px; text-align: left; color: #FFFFFF; font-weight: 500; font-size: 12px; }

.percent { margin-top: 80px; }
.percent p { color: #FFFFFF; font-size: 80px; font-weight: 900; text-align: center; }

.under-percent { margin-top: 25px; font-size: 35px; color: #FFFFFF; text-align: center; }
.under-percent p { font-size: 27px; color: #FFFFFF; display: inline; }

.plugin { background-color: #03A9F4; vertical-align: top; display: inline-block; width: 300px; margin: 20px; box-shadow: 10px 0 0; -webkit-box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.26); -moz-box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.26); box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.26); height: 220px; }

/*# sourceMappingURL=main.css.map */
