.plugin-body{
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    padding: 30px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}
.glyphs{
    
    hr{
        border: none;
        height: 2px;
        background-color: $color-white;
        margin: 0px;
        padding: 0px;
        width: 175px;
        margin: 0px auto;
    }
    text-align: center;
    .fas{
        padding: 20px;
        font-size: 30px;
    }
    a{
        
        color: $color-white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.1s ease;
        :hover{
            transform: scale(1.2);
            text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
            transition: all 0.1s ease;
        }
    }
}
.plugin-photo{
    background-color: $color-white;
    width: 250px;
    height: 141px;
    margin:0px auto;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    p{
        color: $color-gray-200;
        padding: 25px;
    }
}
.plugin-bot{
        padding: 2px 10px;
        margin-left: 15px;
        border-radius: 50px;
        background-color: $color-white;
        text-align: center;
        margin-top: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
       p{
           color: $color-gray-300;
           font-weight: 400;
           font-size: 12px;
           display: inline-block;
           vertical-align: middle;
        }
}
.text{
    width: 150px;
    display: inline-block;
    }
.rec{
    float: right;
    margin-right: 15px;
    display: inline-block;
}
.rec-circle{
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    background-color: red;
    vertical-align: middle;
}
.rec-stop{
    margin-left: 0px;
    border-radius: 0px !important;
    background-color: $color-gray-300;
    vertical-align: middle;
}
.shoot{
    width: 50px;
    margin: 10px auto 0px;
    color: $color-prim;
    font-size: 20px;
}
.menu-container{
    width: 200px;
    margin: 25px auto;
    :first-child{
        margin-top: 5px;
    }
}
.menu-row{
    background-color: $color-prim;
    border-radius: 20px;
    margin: 10px;
    color: $color-white;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    .fas{
        margin: 0px;
        padding: 0px;
        float: left;
        margin: 5px 13px 0px;
    }
    p{
        vertical-align: middle;
        padding: 0px;
        margin: 0px;
        text-align: left;
        color: $color-white;
        font-weight: 500;
        font-size: 12px;
    }
}
.percent{
    margin-top: 80px;
    p{
        color: $color-white;
        font-size: 80px;
        font-weight: 900;
        text-align: center;
    }
}
.under-percent{
    margin-top: 25px;
    font-size: 35px;
    color: $color-white;
    text-align: center;
    p{
        font-size: 27px;
        color: $color-white;
        display: inline;
    }
}
