.plugin{
    background-color: $color-prim;
    vertical-align: top;
    display: inline-block;
    width: 300px;
    margin: 20px;
    box-shadow: 10px 0 0;
    -webkit-box-shadow: 0px 0px 36px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 36px 3px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 36px 3px rgba(0,0,0,0.26);
    height: 220px;
}
