$color-prim: #03A9F4;
$color-200: #0288D1;
$color-300: #03A9F4;
$color-400: #BBDEFB;
$color-2-100: #448AFF;
$color-2-200: #F44336;
$color-2-300: #009688;
$color-2-400: #FFCDD2;
$color-white: #FFFFFF;
$color-gray-100: #212121;
$color-gray-200: #607D8B;
$color-gray-300: #7F7F7F;
$color-gray-400: #E5E5E5;
$color-background: #F4F7F7;

p{
    font-family: "Roboto";
    margin: 0px;
    color: $color-gray-100;
    font-size: 15px;
    font-weight: 100;
}
h4{
    font-family: "Roboto";
    margin: 0px;
    font-size: 20px;
    color: $color-gray-100;
}
h5{
    font-family: "Roboto";
    margin: 0px;
    color: $color-gray-100;
    font-size:15px;
}
a{
    font-family: "Roboto";
}
.sidebar{
    width: 300px;
    background-color: $color-background;
    overflow: hidden;
    padding-bottom: 10px;
}